
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align:center; margin-top: 400px">

    <h2>Đơn hàng của bạn đã được đặt thành công!</h2>
    <p>Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi.</p>

    <a href="/Cart/Cart" class="btn btn-add-to-cart">Go back</a>
</div>

